.invite {
  background-color: $secondBackground;
  @include reset-brouser;
  @include flex;
  position: relative;

  background-image: url(../images/mobile-team-back.svg);
  // background-size: 87.5%;
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: center bottom;
  @include screenSize($size: 768px) {
    background-image: url(../images/tablet-team-back.svg);
    background-position: left center;
    background-size: 180px;
  }
  @include screenSize($size: 1440px) {
    align-items: flex-end;
    background-image: url(../images/desktop-team-black-half.svg);
    background-size: 220px;
  }
  &::before {
    @include screenSize($size: 1440px) {
      content: "";
      position: absolute;
      @include wh($w: 440px, $h: 440px);
      background-image: url(../images/desktop-team-back.svg);
      top: 60px;
      left: 220px;
    }
  }
  &::after {
    @include screenSize($size: 1440px) {
      content: "";
      position: absolute;
      top: 280px;
      left: 0;
      background-image: url(../images/desktop-team-green.svg);
      @include wh($w: 220px, $h: 220px);
    }
  }
  &__header {
    @include reset-brouser;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    @include font($size: 40px, $height: 90%, $weight: 600);
    @include screenSize($size: 768px) {
      max-width: 478px;
      font-size: 70px;
      padding-top: 121px;
      padding-bottom: 40px;
      padding-left: 240px;
    }
    @include screenSize($size: 1440px) {
      max-width: 520px;
      padding-top: 171px;
      padding-left: 0;
      padding-right: 160px;
    }
  }
  &__text {
    @include reset-brouser;
    padding-left: 20px;
    padding-bottom: 200px;
    @include font($size: 12px, $height: 130%);
    @include screenSize($size: 768px) {
      max-width: 478px;
      font-size: 20px;
      padding-left: 240px;
      padding-bottom: 171px;
    }
    @include screenSize($size: 1440px) {
      max-width: 520px;
      padding-left: 0;
      padding-right: 160px;
    }
  }
}
